<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/Content/public/img/logo.jpg" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="vi" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Test</title>
    <link href="/Content/public/css/stylemain.css" rel="stylesheet" />
    <link href="/Content/public/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="/Content/public/css/daterangepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/Content/public/js/Datetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="/Content/public/js/Datetimepicker/bootstrap-datetimepicker.fr.js"></script>
    <link href="/Content/public/css/style-s.css" rel="stylesheet" />
    <link href="/Content/public/css/rate.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous" async></script>
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous" async></script>
    
    <!-- <link rel="stylesheet" type="text/css" href="/Content/public/temp/font-awesome/4.7.0/css/font-awesome.min.css"/> -->
    <!-- <link rel="stylesheet" type="text/css" href="/Content/public/temp/animate.css/3.5.2/animate.min.css"/> -->
    <!-- <link href="/Content/public/css/rate.css" rel="stylesheet" /> -->
    <!-- <link href="/Content/public/css/lightgallery.css" rel="stylesheet" /> -->
    <!-- <link href="/Content/public/css/select2.min.css" rel="stylesheet" /> -->
    <!-- <link href="/Content/public/css/dataTables.bootstrap.min.css" rel="stylesheet" /> -->
    <!-- <script src="/Content/public/js/Gmap/v3_epoly.js"></script> -->
    <!-- <script src="/Content/public/js/markerwithlabel.js"></script> -->
    <!-- <script src="/Content/public/js/Gmap/markerclusterer.js"></script> -->
    <!-- <script src="/Content/public/js/Gmap/markerclusterer_compiled.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script> -->
    
</head>
<body id="body" class="class_body_t">

    <div class="body-content">
        @RenderBody()

    </div>

 
   

</body>
</html>
